#navbarResponsive li{
font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  font-family: AvenirNext;
  
  font-size: 18px;
    font-weight: 600;
}

#gridRowDiv p{

 
  font-family: AvenirNext;
  font-size: 20px;
  
  text-align: center;
  color: #313131;

}

#gridRowDiv img{
display: block;
  margin-left: auto;
  margin-right: auto;
}



#testInfo row p{


}
.faqText{

  font-family: AvenirNext;

  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #ffffff;
}

.faqHeader{

  font-family: AvenirNext;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;}
  
  
 #testButton{
  width: 219px;
  height: 27px;
  font-family: AvenirNext;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  }
  
input[type=text] {
  width: 60%;
  padding: 8px 3px;
  
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #ff7d00;
}
  #payButton , #continueButton{
	border-radius: 30px;
	width: 172px;
	height: 47px;
	background-color: #ff7d00;
	border-color: #ff7d00;
	border-bottom-style: hidden;
	border-right: #ff7d00;
	  
  }
  
  @media only screen and (max-width: 600px){
 #jumbotronFaqDiv{
  height: 500% !important;
 }
 }
 
 @media only screen and (max-width: 400px){
 #jumbotronFaqDiv{
  height: 600% !important;
 }
 }